package components

import "github.com/hanchon-live/stake/src/components/wallet"

templ Body() {
	@Layout() {
		<div class="flex flex-col h-full w-full bg-red-50">
			<div class="mx-auto my-auto">
				@wallet.WalletConnector()
			</div>
		</div>
	}
}
